<div class="row">
<!-- this div makes the movie list responsive -->
<div class="col-xs-12 col-md-9 col-sm-6" *ngFor="let movie of movies">
  <a href="#" class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ movie.title }}</h4>
      <p class="list-group-item-text">Movie Rating : {{ movie.rating }}</p>
    </div>
    <span class="pull-right">
      <img src="{{movie.coverArt}}" alt="{{movie.title}}" class="img-responsive" style="max-height: 125px">
    </span>
  </a>
</div>
  </div>

